/* Отступ от шапки страницы */
.cover {
    padding-bottom: 10px;
}

/* Заголовок страницы по центру */
.cover .title {
    text-align: center;
}

.cover .subtitle {
    text-align: center;
    /*margin-top: 8px;*/
}

.cover .image {
    /*margin-top: 24px;*/
    border-radius: 10px;
}

/* Цвет ссылок */
.link {
    color: rgba(255, 141, 45, 1);
}

/* Цвет иконки Турбо-страницы в шапке */
.page .header-turbo-icon {
    fill: rgba(255, 141, 45, .6);
}

/* Шрифт заголовка */
.title_level_2 {
    font-weight: 100;
}

/* Стилизация <code> */
.code {
    font-size: 91%;
    color: #e83e8c;
    background-color: transparent;
    word-break: break-word;
}

/* Стилизация Имени автора и даты создания */
.page__result .cover .description {
    font-size: 13px;
}

/* Отступ между именем автора, датой создания и картинкой */
.cover .description + .image {
    margin-top: 10px;
}

/* Отступ между картинкой в header и началом текста*/
.cover + .unit {
    margin-top: 10px;
}

/* Стилизация цитатного блока*/
blockquote.unit.unit_rect.paragraph.unit.unit_text_m {
    font-size: 80%;
}

/* Стилизация footer у цитатного блока*/
p.paragraph.unit.unit_text_m.article-blockquote-footer {
    font-size: 70%;
    color: #6c757d;
}

/*Стилизация подписи к блоку "поделиться"*/
.paragraph.unit.unit_text_m.txt-footer {
    text-align: center;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
                -23px 0 20px -23px rgba(0, 0, 0, .8),
                23px 0 20px -23px rgba(0, 0, 0, .8),
                0 0 40px rgba(0, 0, 0, .1) inset;
}