
#time-header,
#result-header {
    padding-bottom: 20px;: 0;
    margin: 0;
    font-size: 30px;
    font-style: italic;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.app {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    padding: 20px;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, .12), 0 0 0 0 rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.app__header {
    /*padding: 20px;*/
    text-align: center;
}

.app__content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.app__footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 3px;
    color: #7e7e7e;
    font-family: GothamPro, sans-serif;
    font-size: .8rem;
    font-weight: normal;
    line-height: 1.2rem;
}

.input input {
    display: block;
    width: 100%;
    min-width: 265px;
    max-height: 2.8rem;
    padding: .8rem 1rem;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4;
    color: #000;
    background: #fff none;
    border: 1px solid #999;
    border-radius: 5px;
}

.game {
    position: relative;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    max-height: 500px;
    min-height: 300px;
}

.hide {
    display: none !important;
}

.btn-game,
.btn-game:active,
.btn-game:focus,
.btn-game:focus-within,
.btn-game:hover,
.btn-game:visited {
    border: none;
    outline: none;
    text-decoration: none;
}

.btn-game {
    position: absolute;
    z-index: 1;
    display: inline-block;
    padding: 1rem 2.3rem;
    margin-bottom: 0;
    font-weight: normal;
    font-family: GothamPro, sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background: #fad64e;
    color: #3f3f3f;
    border-radius: 2.8rem;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
    will-change: transform;
}

.btn-game:disabled {
    background: #ccc !important;
    border: 1px solid #ccc;
    color: #000;
    cursor: not-allowed;
}

.btn-game:active {
    transition: transform .1s ease-in-out, box-shadow .1s ease-in-out !important;
    transform: none !important;
    box-shadow: none !important;

}

.btn-game:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .2);
    transform: translateY(-1px);
}

.createdBox {
    position: absolute;
    cursor: pointer;
}

.bgAppGameStart {
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.bgGameGameStart {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

input.blockedInGameInput {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .single-article .portfolio-ul {
        padding-left: 0;
        font-size: 14px;
    }
}

@media only screen and (max-width: 444px) {
    #time-header,
    #result-header {
        font-size: 25px;
    }

    .game {
        font-size: 18px;
        padding-bottom: 10px;
        min-width: 250px;
        min-height: 250px;
    }
}

@media only screen and (max-width: 375px) {
    #time-header,
    #result-header {
        font-size: 20px;
    }

    .game {
        font-size: 16px;
        padding-bottom: 10px;
        min-width: 200px;
        min-height: 200px;
    }

    .input input {
        min-width: 190px;
    }
}