.figure-caption {
    font-size: 80%;
}

.dropdown {
    position: relative;
    /*width: 100%;*/
}

.dropdown__label {
    /*font-weight: 600;*/
    background: rgba(238, 238, 238, .95);
    /*width: 100%;*/
    /*max-width: 80%;*/
    padding: 10px 15px;
    border: 1px solid #484848;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.dropdown__label:hover {
    cursor: pointer;
    color: #F1EBEA;
    background: rgba(0, 0, 0, .4);
}

.dropdown__menu {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    /*max-width: 80%;*/
    /*left: 50%;*/
    /*transform: translate(-50%);*/
    list-style: none;
    padding: 0;
    background: rgba(238, 238, 238, .95);
    border: 1px solid #484848;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.dropdown__menu li {
    padding: 5px 10px;
    -webkit-transition: all 0.55s;
    -moz-transition: all 0.55s;
    -ms-transition: all 0.55s;
    -o-transition: all 0.55s;
    transition: all 0.55s;
}

.dropdown__menu li:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.dropdown__menu li:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropdown__menu li:hover {
    background: rgba(0, 0, 0, .4);
    color: #F1EBEA;
    cursor: pointer;
}

.dropdown__info {
    margin-top: 15px;
    /*width: 100%;*/
    /*max-width: 80%;*/
}

.information {
    display: block;
    /*font-weight: 600;*/
    background: rgba(238, 238, 238, .95);
    padding: 10px 15px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.dropdown.open .dropdown__menu {
    display: block !important;
}

@media only screen and (max-width: 1199px) {
    .single-article .figure-caption {
        font-size: 75%;
    }

    .single-article .breadcrumb {
        font-size: 15px;
    }
}

@media only screen and (max-width: 991px) {
    .single-article .breadcrumb {
        font-size: 11px;
    }

    .single-article h1 {
        font-size: 37px;
    }

    .single-article h2 {
        font-size: 27px;
    }

    .single-article .txt {
        font-size: 14px;
    }

    .single-article .portfolio-ul {
        padding-left: 0;
        font-size: 14px;
    }
}

@media only screen and (max-width: 473px) {
    .single-article .breadcrumb {
        font-size: 9px;
    }
}

@media only screen and (max-width: 443px) {
    .single-article h1 {
        font-size: 33px;
    }

    .single-article h2 {
        font-size: 23px;
    }

    .single-article .txt {
        font-size: 13px;
    }
}

@media only screen and (max-width: 396px) {
    .single-article h1 {
        font-size: 29px;
    }

    .single-article h2 {
        font-size: 19px;
    }

    .single-article .txt {
        font-size: 12px;
    }
}