---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
  lang="en"
  title="Portfolio"
  description="Personal website."
>
  <h1>Portfolio</h1>
  <p>This site is under development.</p>
</BaseLayout>
