---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  lang="ru"
  title="Портфолио"
  description="Персональный сайт."
>
  <h1>Портфолио</h1>
  <p>Сайт находится в разработке.</p>
</BaseLayout>
